.venv/
.codex
.codex/

__pycache__/
*.py[cod]

.DS_Store

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out

sim/__pycache__/
sim/models/__pycache__/
